<h1>Listing models</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Brand</th>
    </tr>
  </thead>

  <tbody>
    <% @models.each do |model| %>
      <tr>
        <td><%= link_to model.name, model %></td>
        <td><%= link_to model.brand.name, model.brand %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Model', new_model_path %>
