<p id="notice"><%= notice %></p>

<p>
  <%= link_to @model.brand.name, @model.brand %>
  <%= @model.name %>
</p>

<p><%= link_to 'Submit request', new_rental_request_path(:model_id => @model.id) %> </p>

<%= link_to 'Edit', edit_model_path(@model) %> |
<%= link_to 'Destroy', @model, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back to models', models_path %>