<h1>Car Rental</h1>


Filter: <input id="filter" type="text">

<ul id="requestlist"></ul>

<%= form_for(RentalRequest.new, remote:true) do |f| %>
<select id="brands" name="rental_request[brand_id]"></select>
<select id="models" name="rental_request[model_id]"></select>

<div class="field" id="name_container">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
</div>
<div class="field" id="phone_container">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
</div>
<div class="actions">
    <%= f.submit %>
</div>

<% end %>