<%= form_for(@rental_request) do |f| %>
  <% if @rental_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rental_request.errors.count, "error") %> prohibited this rental_request from being saved:</h2>

      <ul>
      <% @rental_request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.select :model_id, Model.all.collect {|m| [m.brand.name + " " + m.name, m.id]}, {include_blank: 'Select a model'} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
