<h1>Rental Requests</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Name</th>
      <th>Phone</th>
      <th>Model</th>
    </tr>
  </thead>

  <tbody>
    <% @rental_requests.each do |rental_request| %>
      <tr>
        <td><%= link_to rental_request.id, rental_request %> </td>
        <td><%= rental_request.name %></td>
        <td><%= rental_request.phone %></td>
        <td><%= link_to rental_request.model.name, rental_request.model %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rental request', new_rental_request_path %>