<p id="notice"><%= notice %></p>

<h1>Rental Request</h1>
<p>
  <strong>Name:</strong>
  <%= @rental_request.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @rental_request.phone %>
</p>

<p>
  <strong>Model:</strong>
  <%= link_to @rental_request.model.name, @rental_request.model %>
</p>

<%= link_to 'Edit', edit_rental_request_path(@rental_request) %> |
<%= link_to 'Destroy', @rental_request, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back to list', rental_requests_path %>
