<p id="notice"><%= notice %></p>

<h1>Car Brand</h1>

<p>
  <strong>Name:</strong>
  <%= @brand.name %>
</p>

<h2>Models</h2>

<ul id="models">
<%= render @brand.models %>
</ul>

<%= form_for(Model.new(:brand_id => @brand.id),
                        remote:true) do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <%= f.hidden_field :brand_id %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<p></p>

<%= link_to 'Edit', edit_brand_path(@brand) %> |
<%= link_to 'Destroy', @brand, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back to list', brands_path %>


