<!DOCTYPE html>
<html>
<head>
  <title>ModelBrandAula</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= link_to 'Home', :controller =>'home', :action => :index %>
</body>
</html>
